@media (min-width: 1050px) {
  :root {
    --progress-width-stepOne: 0px;
    --progress-width-stepTwo: 250px;
    --progress-width-stepThree: 560px;
    --progress-width-stepFour: 860px;
  }
}

@media (min-width: 1280px) {
  :root {
    --progress-width-stepOne: 0px;
    --progress-width-stepTwo: 260px;
    --progress-width-stepThree: 710px;
    --progress-width-stepFour: 1060px;
  }
}
