@media (min-width: 1060px) {
  :root {
    --progress-width-small: 0px;
    --progress-width-medium: 260px;
    --progress-width-large: 560px;
    --progress-width-extra-large: 860px;
  }
}

@media (min-width: 1280px) {
  :root {
    --progress-width-small: 0px;
    --progress-width-medium: 260px;
    --progress-width-large: 710px;
    --progress-width-extra-large: 1060px;
  }
}
